/*
  http://meyerweb.com/eric/tools/css/reset/
  v4.0 | 20180602
  License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background: #0011a5;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: 400;
    height: 100%;
    line-height: 150%;
    text-align: left;
}

h1 {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

#loading {
    color: #bcc9e8;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#oh-crap {
    color: white;
    display: none;
    text-align: center;
    vertical-align: middle;
}

#wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#excuse {
    box-sizing: border-box;
    padding: 5%;
}

#tap {
    bottom: 15px;
    height: 40px;
    position: absolute;
    right: 10px;
    width: 40px;
    z-index: 9;
}

#tap svg path {
    fill: #fff;
    opacity: .25;
}

#show-list {
    border: 1px solid #fff;
    border-radius: 20px;
    height: 25px;
    opacity: .25;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    z-index: 99;
}

#show-list:hover {
    background: #fff;
    opacity: .5;
}

#list-wrapper {
    position: relative;
    visibility: hidden;
    z-index: 99;
}

#search {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #0011a5;
    border: none;
    border-bottom: 2px solid #00549A;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    padding: .75em;
    width: 100%;
}

#list {
    -webkit-overflow-scrolling: touch;
    background: #0011a5;
    font-size: 0.5em;
    height: 100%;
    left: 0;
    line-height: 1.25;
    opacity: 0.96;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#list li {
    border-bottom: 1px dotted #00549A;
    padding: .65em;
}

#list li a {
    color: white;
    display: block;
    text-decoration: none;
}

#list li a:hover {
    color: red;
}
