@import "./reset.css";

:root {
  --font-family: "Roboto Mono", monospace;
  --background-color: #0011a5;
  --text-color: #fff;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.5em;
  height: 100%;
  line-height: 150%;
  text-align: left;
}

.noise {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(./img/noise.gif);
  mix-blend-mode: overlay;
  opacity: 0.4;
  z-index: 10;
}

.wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 4em 2em 2em 2em;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.excuse .filler {
  color: var(--text-color);
  opacity: 0.25;
}

.loading {
  color: #bcc9e8;
}

.oh-crap {
  display: none;
}

.search-wrapper {
  background: blue;
  display: grid;
  grid-template-columns: auto 55px;
  position: fixed;
  width: 100%;
}

.search-wrapper .search {
  background: blue;
  border: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.125em;
  padding: 0.75em;
  width: 100%;
}

.search-wrapper .search::placeholder {
  color: var(--text-color);
}

.search-wrapper .close {
  background: center center url("./img/close.svg") no-repeat;
  background-size: 35px;
  opacity: 0.35;
}

.search-wrapper .close:hover {
  opacity: 1;
}

.list-wrapper {
  font-size: 0.5em !important;
  height: 100%;
  left: 0;
  opacity: 0.96;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  z-index: 99;
}

.list {
  -webkit-overflow-scrolling: touch;
  background: #0011a5;
  height: 100%;
  line-height: 1.5;
  padding-top: 3.5em;
}

.list li a {
  border-bottom: 1px dotted #00549a;
  color: white;
  display: block;
  padding: 0.65em;
  text-decoration: none;
}

.list li a:hover {
  background: #00549a;
}

.show-list {
  background-image: url("./img/search.svg");
  background-size: contain;
  width: 35px;
  height: 35px;
  opacity: 0.35;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 99;
}

.show-list:hover {
  opacity: 1;
}

.tap {
  background: url("./img/tap.svg");
  background-size: contain;
  bottom: 0.5rem;
  height: 45px;
  opacity: 0.25;
  position: fixed;
  right: 0.5rem;
  width: 45px;
  z-index: 9;
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 4em 1em 1em 1em;
  }
}
