html,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
